<div class="container">
  <div class="logo-container">
    <a href="/"><img src="http://i29.photobucket.com/albums/c275/nixsiow/Demochattic_zps514b849e.png" class="logo rotate"></a>
  </div>
    <div id="user">
      <% unless user_signed_in? %> <!-- Refactor to use unless user_signed_in -->
      <!-- put this into a nav partial -->
        <div class="signout_view">
          <button class="btn btn-primary grow" data-toggle="modal" data-target="#signinModal">Sign in</button>
          
          <button class="btn btn-primary grow" data-toggle="modal" data-target="#signupModal">Sign up</button>
        </div>
      <% end %>
    </div>

    <div id="current_user">

    </div>
</div>


<div class="join_room_box">
  <% if flash[:no_create_room] %>
    <p class="welcome white"> <%= flash[:no_create_room] %> </p>
  <% end %>
  <!-- Put the new_room form into a partial -->
  <%= form_for @room do |f| %>
    <div class="input-group input-group-lg"><%= f.text_field :name, :placeholder => 'Join a room', :pattern => ".{5,20}", :required => true, :title => "5 to 20 characters allowed without spaces", :id => 'join_box', :class => 'form-control' %></div>
  <% end %>
</div>

<br>

<!-- Top rooms -->
<div class="toptable">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top Ranking Rooms</h3>
        </div><br>
      	<table id="top-rooms" class="table table-condensed">
      		<thead>
      		  <tr>
      			<th>Room Name</th>
      			<th>Active Users</th>
      		  </tr>
      		</thead>

      		<% @rooms.each do |room| %>
      		<tr>
      			<td><%= link_to room.name, room %></td>
      			<td><%= room.users.length %></td>
      		</tr>
      		<% end %>
      	</table>	
      </div>
    </div>
  </div>
</div>
