<div class="join_room_box">
  <% if flash[:no_create_room] %>
    <p class="welcome"> <%= flash[:no_create_room] %> </p>
  <% end %>

  <%= form_for @room do |f| %>
    <div class="input-group input-group-lg"><%= f.text_field :name, :placeholder => 'Join a room', :pattern => ".{5,20}", :required => true, :title => "5 to 20 characters allowed without spaces", :id => 'join_box', :class => 'form-control' %></div>
  <% end %>
</div>

<br>

<!-- Top rooms -->
<div class="toptable">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top Ranking Rooms</h3>
        </div><br>
      	<table id="top-rooms" class="table table-condensed">
      		<thead>
      		  <tr>
      			<th>Room Name</th>
      			<th>Active Users</th>
      		  </tr>
      		</thead>

      		<% @rooms.each do |room| %>
      		<tr>
      			<td><%= link_to room.name, room %></td>
      			<td><%= room.users.length %></td>
      		</tr>
      		<% end %>
      	</table>	
      </div>
    </div>
  </div>
</div>
