<h1>Welcome to [insert name here]</h1>

<h1>Join a Room</h1>

<% if flash[:no_create_room] %>
  <p class="welcome"> <%= flash[:no_create_room] %> </p>
<% end %>

<%= form_for @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
<% end %>

<% if @room.errors.any? %>
  <div>
    <p><b>Error:</b> Your Room could not be saved:</p>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Top rooms -->
<h1> New Top 10 Chat Rooms</h1>
	<table id="top-rooms">
		<thead>
		  <th>
			<td>Room Name</td>
			<td>Room Size (by users)</td>
		  </th>
		</thead>

		<% @rooms.each do |room| %>
		<tr>
			<td></td>
			<td><%= link_to room.name, room %></td>
			<td><%= room.users.length %></td>
		</tr>	
		<% end %>
	</table>	