<h1>Welcome to the home page!</h1>

<%= link_to 'messages', messages_path %>




<h1>Create a Room</h1>

<%= form_for @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
<% end %>



<h1>Top 10 Must Chat DemoRooms</h1>

<ul id="rooms_container">
    <% @rooms.each do |room| %>
        <li><%= link_to room.name, room_path(room.id) %></li>
    <% end %>
</ul>