<!DOCTYPE html>
<!--
    (  )   (   )  )
      ) (   )  (  (
      ( )  (    ) )
      _____________
     <_____________> ___
     |             |/ _ \
     |               | | |
     |               |_| |
  ___|             |\___/ 
 /    \___________/    \
 \_____________________/    Demochattic. cool!
-->
<html>
<head>
  <title>Demochattic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <!-- <ul class="links clearfix"> -->
    <div class="logo-container">
      <a href="/"><img src="http://i29.photobucket.com/albums/c275/nixsiow/Demochattic_zps514b849e.png" class="logo"></a>
    </div>

    <%= button_to 'Home', home_path, :class => 'btn btn-info', :method => 'get' %>

    <div id="user">
      <% if user_signed_in? %>
        <div class="avatar">
          <span><%= image_tag current_user.image%></span>
          <h5><%= current_user.username %></h5>
        </div>
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>
        <%= button_to 'Sign Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-danger' %>
      <% else %>
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#signinModal">Sign in</button>
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign up</button>
      <% end %>
    </div>
    <!-- </ul> -->

    <%= yield %>

  </div>


<!-- blur effect -->

<!-- Modal -->
  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
      <%= render :partial => 'devise/sessions/new' %>
    </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
      <%= render :partial => 'devise/registrations/new' %>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
      <%= render :partial => 'devise/registrations/edit' %>
    </div>
  </div>




<!-- stuff which is hiding -------------------------------------- -->

<!-- if the user is signed in, start sending user activity messages -->
  <% if user_signed_in? %>
    <script>
    demoChat.signedIn = true;
      //start user activity timer
      $(document).ready(function () {
        demoChat.startUserActiveTimer();
      });
    </script>
  <% end %>



</body>
</html>

