<!DOCTYPE html>
<html>
<head>
  <title>Demochat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id="container">
  <ul class="links clearfix">
    <li><%= link_to 'Home', home_path %></li>

    <div id="user">
      <% if user_signed_in? %>
        <span><p>User signed in: <%= current_user.username %></p><p class="avatar"><%= image_tag current_user.image%></p></span>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li><br>
      <% end %>
    </div>
  </ul>
  <p><b>Test User details:</b> email = user1@user.com, password = abcd1234</p>

  <hr>

  <%= yield %>

</div>

<!-- if the user is signed in, start sending user activity messages -->
<% if user_signed_in? %>
  <script>
    //start user activity timer
    $(document).ready(function () {
      demoChat.startUserActiveTimer();
    });
  </script>
<% end %>

</body>
</html>

